[submodule "vim-blockle"]
	path = vim-blockle
	url = git://github.com/jgdavey/vim-blockle.git
[submodule "vim-ragtag"]
	path = vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "tabular"]
	path = tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim-align"]
	path = vim-align
	url = git://github.com/tsaleh/vim-align.git
[submodule "vim-latex"]
	path = vim-latex
	url = git@github.com:vim-latex/vim-latex.git
[submodule "elm.vim"]
	path = elm.vim
	url = https://github.com/lambdatoast/elm.vim.git
[submodule "elm-vim"]
	path = elm-vim
	url = https://github.com/ElmCast/elm-vim
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim-easy-align"]
	path = vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "splitjoin.vim"]
	path = splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "switch.vim"]
	path = switch.vim
	url = https://github.com/AndrewRadev/switch.vim.git
