[submodule "vim-blockle"]
	path = vim-blockle
	url = git://github.com/jgdavey/vim-blockle.git
[submodule "vim-ragtag"]
	path = vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "tabular"]
	path = tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim-align"]
	path = vim-align
	url = git://github.com/tsaleh/vim-align.git
[submodule "vim-latex"]
	path = vim-latex
	url = git@github.com:vim-latex/vim-latex.git
